@{
    Layout = "_LayoutAdmin";
}
<div class="container mt-5 text-center">
    <h1 class="text-danger">403 - KHÔNG CÓ QUY?N TRUY C?P</h1>
    <p>B?n không có ?? quy?n h?n ?? xem trang này. Vui lòng liên h? qu?n tr? viên.</p>
    <a href="/" class="btn btn-primary">Quay l?i trang ch?</a>
</div>